.header
{
  background-image: url('../Image/header.png');
  background-repeat: no-repeat;
}
.menu
{
  position: relative;
  background-color:#ffc107!important;
}
.menu ul li
{
  position: relative;
  padding:13px;
}
